@import url('https://fonts.googleapis.com/css2?family=Fira+Sans%display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: rgb(223, 218, 218);
    width: 300px;
    font-family: 'Fira Sans,sans-serif';
    height: 100vh;
}
.sidebar nav{
    padding: 21px;
}
.sidebar nav li{
    font-size: 24px;
    list-style: none;
    padding: 24px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.main{
    /* background-color: aqua; */
    width: 90vw;
}
.container{
    display: flex;
}
.infoContainer{
    /* background-color: green; */
    height: 50vh;
    width: 80vw;
    margin: 120px auto;
    display: flex;
    justify-content: space-around;
}
.DevPic img{
    height: 50vh;
}
.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hello{
    font-size: 50px;
    font-family: 'Source Code Pro', monospace;
}
.name{
    font-size: 37px;
    font-weight:bold;
    font-family: 'Fira Sans,sans-serif';
}
.about{
    font-size: 28px;
    font-family: 'Source Code Pro', monospace;
}
.buttons{
    margin-top: 30px;
}

.buttons button{
    padding: 8px;
    border-radius: 20px;
    color: white;
    background-color: dodgerblue ;
    font-weight: bold;
    font-size: 17px;
    margin: 0 3px;
    cursor: pointer;
}
.buttons button:hover{
    color:dodgerblue;
    background-color: white;
}

.moreabout{
    font-size: 18px;
    font-family: 'Fira Sans,sans-serif';
    margin-top: 20px;
}

.contactform{
    padding: 0 34px;
    padding-top: 100px;
    font-family: 'Source Code Pro', monospace; 
}
.contactform h1{
    font-family: 'Fira Sans,sans-serif';
    text-align: center;
}
.mb-3{
    padding: 12px 0;
}